In [2]:
import pandas as pd

# Correctly setting the file path as initially provided by the user
file_path = 'household(?children).xlsx'

# Try loading the Excel file again with the correct path
df_children_actual = pd.read_excel(file_path)

# Calculate the percentage of households with own children under 18 years for each state
df_children_actual['Households with Children Under 18 (%)'] = (
    df_children_actual['Households with own children under 18 years'] / df_children_actual['Total households']
) * 100

# Create a new dataframe with State and the calculated percentage
households_with_children_df = df_children_actual[['State', 'Households with Children Under 18 (%)']]
# Save the new dataframe to a new Excel file
households_with_children_df.to_excel('households_with_children.xlsx', index=False)
households_with_children_df.head()

        State  Households with Children Under 18 (%)
0     Alabama                              25.076074
1      Alaska                              27.726223
2     Arizona                              25.173021
3    Arkansas                              25.979212
4  California                              27.853629