In [1]:
import pycaret

In [35]:
import pandas as pd
test=pd.read_excel('test.xlsx')
test_fuel = test.drop(['State','Average Number of Seats','Average Starting MSRP','Average Safety Score'], axis=1)
test_seats = test.drop(['State','Most Common Fuel Type','Average Starting MSRP','Average Safety Score'], axis=1)
test_price = test.drop(['State','Most Common Fuel Type','Average Number of Seats','Average Safety Score'], axis=1)
test_safety = test.drop(['State','Most Common Fuel Type','Average Number of Seats','Average Starting MSRP'], axis=1)

In [37]:
test_fuel

,Population,Households Total,Households Median income (dollars),Households Mean income (dollars),Families Total,Families Median income (dollars),Families Mean income (dollars),Married-couple families Total,Married-couple families Median income (dollars),Married-couple families Mean income (dollars),...,Total:!!65 years and over:!!With a disability:!!With health insurance coverage:,Total:!!65 years and over:!!With a disability:!!With health insurance coverage:!!With private health insurance coverage,Total:!!65 years and over:!!With a disability:!!With health insurance coverage:!!With public health coverage,Total:!!65 years and over:!!With a disability:!!No health insurance coverage,Total:!!65 years and over:!!No disability:,Total:!!65 years and over:!!No disability:!!With health insurance coverage:,Total:!!65 years and over:!!No disability:!!With health insurance coverage:!!With private health insurance coverage,Total:!!65 years and over:!!No disability:!!With health insurance coverage:!!With public health coverage,Total:!!65 years and over:!!No disability:!!No health insurance coverage,Most Common Fuel Type
0,5024279,2016448,59674,82956,1308988,77668,100785,941596,94370,118799,...,341036,184936,336644,706,548156,545335,332367,527907,2821,diesel
1,733391,274574,88121,109524,175789,105329,124663,129511,115920,141287,...,33722,18853,33218,206,66057,64883,44794,60813,1174,CNG
2,7151502,2850377,74568,101316,1843530,88679,116717,1332270,103182,133297,...,431582,215359,425340,3131,927485,918455,481293,880678,9030,diesel
3,3011524,1216207,55432,76853,777933,70708,92935,572596,84273,106939,...,209133,103125,207617,424,313575,311578,175266,302398,1997,diesel
4,39538223,13550586,91551,131504,9150804,104823,147628,6516115,126577,172535,...,2005543,856988,1961760,19232,4030046,3981504,2035778,3724912,48542,CNG
5,5773714,2384584,89302,119039,1464182,109592,142387,1144446,125490,159025,...,260311,133192,255332,2228,634029,629957,340351,593654,4072,gasoline
6,3605944,1433635,88429,128160,902539,115183,157696,658900,139531,185623,...,190314,92673,186381,1479,453077,449273,248766,419789,3804,gasoline
7,989948,402334,82174,105438,263885,100128,124756,197223,112712,139819,...,62718,41957,62230,333,145279,144088,97787,139057,1191,diesel
8,689545,326970,101027,148872,123868,146477,202466,77550,213692,265991,...,26812,14727,25377,86,58401,57911,37289,52425,490,gasoline
9,21538187,8826394,69303,99349,5684399,83410,115717,4119638,98444,134074,...,1460009,666162,1435858,12793,3218230,3178816,1553251,3035552,39414,gasoline
10,10711908,4092467,72837,99863,2733234,86642,116323,1917471,105880,137787,...,553977,276423,545387,4069,1048979,1038972,573612,992016,10007,gasoline
11,1455271,494827,92458,120969,335052,108285,135028,240727,122592,151985,...,94832,62244,92488,457,194409,193206,137317,180138,1203,gasoline
12,1839106,717151,72785,94503,491073,85193,108727,396372,93252,119113,...,104746,56166,103689,889,216020,214742,124922,208591,1278,gasoline
13,12812508,5056360,76708,106728,3137923,96948,129493,2282497,116450,151829,...,664881,354129,650799,4649,1430914,1418898,824336,1343881,12016,gasoline
14,6785528,2726489,66785,88805,1740106,84508,106944,1307913,97914,122445,...,372566,200739,367585,1367,742900,738681,418635,712119,4219,diesel
15,3190369,1330995,69588,92695,821960,90851,114205,646759,103754,128072,...,168283,98198,165964,254,394336,393736,246905,382231,600,diesel
16,2937880,1175294,68925,93221,740407,89712,113962,574286,102123,128205,...,163987,96079,161706,1164,323094,322050,200055,308361,1044,gasoline
17,4505836,1828680,59341,82614,1172125,76119,99631,860710,91212,115427,...,301400,158018,297245,496,466645,464571,282392,448806,2074,diesel
18,4657757,1816902,55416,79175,1131137,72866,96505,754142,94699,119167,...,298562,141513,293204,1057,458923,455999,249067,431707,2924,gasoline
19,1362359,605338,69543,93555,370935,88063,114321,292681,100366,127359,...,92781,52016,91478,88,209789,209363,118441,200983,426,gasoline
20,6177224,2375984,94991,125876,1546282,117294,148486,1104626,141599,172927,...,307650,191140,298572,1871,707998,700149,501326,648464,7849,gasoline
21,7029917,2797776,94488,133823,1724355,120263,162406,1263224,145577,191170,...,367590,196865,359096,1616,858676,853220,556613,790498,5456,gasoline
22,10077331,4089794,66986,91856,2548560,85865,111255,1868821,102076,128843,...,584296,367402,576400,1158,1252659,1247547,838548,1198853,5112,gasoline
23,5706494,2322190,82338,109737,1456312,105324,133458,1147255,119140,149174,...,275916,176360,271948,1391,684428,682043,471290,653393,2385,diesel
24,2961279,1148340,52719,72624,754264,66973,87442,503356,85762,106427,...,209438,95881,207094,860,286558,285937,158172,278227,621,gasoline
25,6154913,2521832,64811,88586,1569735,83420,108019,1168049,98090,123979,...,373596,183085,369491,1321,701979,697775,367160,671476,4204,diesel
26,1084225,464072,67631,90874,282216,83580,109448,223380,94791,121898,...,69507,37120,68810,142,151065,150468,85773,145905,597,diesel
27,1961504,803157,69597,94599,501595,92676,116618,390540,106393,132582,...,104067,59257,102841,412,219984,216947,126059,207109,3037,diesel
28,3104614,1198356,72333,98422,773666,85593,112544,530175,100620,129581,...,182831,86521,177953,1115,350049,345172,165541,330305,4877,CNG
29,1377529,557220,89992,119452,358120,112950,140757,285354,126386,154617,...,78880,46494,77603,221,193867,193278,121608,184470,589,gasoline
30,9288994,3516978,96346,134191,2378459,117988,157601,1753523,140500,181939,...,467415,248870,456559,4325,1104762,1091336,651256,1022494,13426,gasoline
31,2117522,848218,59726,82382,516464,74341,97014,344144,92049,116046,...,153024,71231,151284,930,246168,243552,129609,235792,2616,diesel
32,20201249,7774308,79557,119130,4738232,99066,141334,3288930,121320,168776,...,1117308,549190,1100624,7837,2348227,2325657,1365225,2196546,22570,gasoline
33,10439388,4299266,67481,94353,2785497,83448,112123,2057368,99793,130320,...,604854,315407,598216,3557,1216227,1207615,698836,1165845,8612,gasoline
34,779094,331481,71970,97699,193761,97853,125399,156026,108453,138061,...,37868,24837,37506,32,85889,85070,60444,80459,819,diesel
35,11799448,4878206,65720,90109,2983145,86001,110719,2173755,103290,129527,...,679024,349552,668244,3284,1411294,1402920,796585,1344820,8374,diesel
36,3959353,1573180,59673,82741,1017586,75476,98937,746847,90595,114545,...,260106,139813,256651,1909,380187,376467,221986,361613,3720,diesel
37,4237256,1726340,75657,102923,1041083,93384,123364,788221,108201,140570,...,279074,141702,274370,1009,523347,520277,294495,499538,3070,gasoline
38,13002700,5294065,71798,100015,3294814,93029,121871,2462324,109173,140307,...,781348,448285,770929,2916,1672587,1664000,1042133,1588906,8587,gasoline
39,1097379,446688,81854,108023,266935,105989,133207,188207,126702,153078,...,58350,27139,57512,324,140270,139552,80347,132391,718,gasoline
40,5118425,2136080,64115,88704,1398412,79886,105495,1018293,96419,123598,...,317213,174419,313508,1254,671628,667127,397227,649545,4501,diesel
41,886667,368300,69728,90806,224853,89573,110227,177786,101659,123656,...,49798,27349,49601,84,108379,108127,62471,104920,252,gasoline
42,6910840,2846684,65254,89799,1846572,80910,105555,1342153,96141,123035,...,430009,220080,425473,3195,756044,751811,415839,721805,4233,gasoline
43,29145505,11087708,72284,101738,7483376,86267,117182,5401546,105245,137489,...,1384652,648565,1355279,20394,2541567,2492615,1294976,2360317,48952,gasoline
44,3271616,1129660,89168,114044,830599,102177,127229,672316,111564,138068,...,120382,65996,118038,731,277612,274430,156076,257019,3182,gasoline
45,643077,277090,73991,97261,164496,96345,117603,131234,108671,130659,...,39608,23209,39104,62,96712,96562,61171,92695,150,gasoline
46,8631393,3380607,85873,119058,2191916,107101,141078,1642002,126808,163178,...,442222,254724,432355,2997,983700,977404,637514,925067,6296,gasoline
47,7705281,3079953,91306,125847,1935445,109192,146344,1499199,124257,165028,...,432199,242219,423929,2610,851521,845080,508834,802588,6441,gasoline
48,1793716,736341,54329,75265,463064,70318,89306,338510,83915,102844,...,150229,84019,148667,147,216568,215548,137654,209948,1020,diesel
49,5893718,2491121,70996,94085,1511105,91700,114906,1171977,105109,129517,...,307842,172080,304922,872,768176,766273,449935,742775,1903,diesel
50,576851,243321,70042,90018,153365,86552,106006,119329,98789,117273,...,37067,20903,36880,31,68338,67828,38791,65922,510,CNG
51,3285874,1289311,24112,39142,820788,29544,45243,449853,39637,59169,...,380919,85367,375764,1945,365006,361789,83761,350462,3217,gasoline

In [43]:
# Fuel Type
from pycaret.classification import *
s1 = setup(test_fuel, target = 'Most Common Fuel Type',session_id=1243,
           pca = True, pca_components = 6,
           normalize=True, normalize_method='zscore')
# 选择KNN模型
best1 = compare_models()

In [51]:
# Price
from pycaret.regression import *
s2 = setup(test_price, target = 'Average Starting MSRP',session_id=1243, 
           remove_multicollinearity = True, multicollinearity_threshold = 0.7,
           normalize=True, normalize_method='zscore')
best2 = compare_models()

In [53]:
# Safety Score
from pycaret.regression import *
s3 = setup(test_safety, target = 'Average Safety Score',session_id=1243,
           remove_multicollinearity = True, multicollinearity_threshold = 0.7,
           pca=True, pca_components=6,
           normalize=True, normalize_method='zscore')
best3 = compare_models()

In [56]:
# Seats
from pycaret.regression import *
s4 = setup(test_seats, target = 'Average Number of Seats',session_id=1243,
           remove_multicollinearity = True, multicollinearity_threshold = 0.7,
           pca = True, pca_components = 6, normalize=True, normalize_method='zscore')
best4 = compare_models()