In [2]:
import pandas as pd

# Load the Excel file
file_path = 'disability.xlsx'
df = pd.read_excel(file_path)

# Display the first few rows of the dataframe to understand its structure
df.head()



# Calculate the total number of people with disability and total population for each state
df['Total With Disability'] = (
    df['Under 19 years:!!With a disability'] +
    df['19 to 64 years:!!With a disability'] +
    df['65 years and over:!!With a disability']
)

df['Total Population'] = (
    df['Under 19 years'] +
    df['19 to 64 years'] +
    df['65 years and over']
)

# Calculate the disability rate for each state
df['Disability Rate (%)'] = (df['Total With Disability'] / df['Total Population']) * 100

# Create a new dataframe with State and Disability Rate
disability_rate_df = df[['State', 'Disability Rate (%)']]
# Save the new dataframe to a new Excel file
disability_rate_df.to_excel('disability_rate.xlsx', index=False)
disability_rate_df.head()

        State  Disability Rate (%)
0     Alabama            16.860858
1      Alaska            13.236428
2     Arizona            13.581416
3    Arkansas            18.064629
4  California            11.744177